body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  margin-top: 60px;
  padding-top: 100px;
}

#erro{
  color: red;
  font-weight: bold;
}

#resultados{
  font:15px;
}

#title{
  padding-top: 30px;
  font-size: 40px;
  text-align:center;
}